@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Library", "User")">
                <span class="glyphicon glyphicon-book"></span>&nbsp;Library
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>&nbsp;Profile <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action("Show", "User", new { id = WebSecurity.GetUserId(User.Identity.Name) }, null)">
                        <span class="glyphicon glyphicon-home"></span>&nbsp;Home
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="@Url.Action("Settings", "User")">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;Settings
                    </a>
                </li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Log out", "LogOff", "Account")</li>
            </ul>
        </li>
    </ul>
}
else
{
    <form class="navbar-form navbar-right">
        <div class="form-group">
            @Html.ActionLink("Sign up", "Register", "Account", null, new { @class = "btn btn-success" })
        </div>
        <div class="form-group">
            @Html.ActionLink("Sign in", "LogIn", "Account", null, new { @class = "btn btn-primary" })
        </div>
    </form>
}